<!DOCTYPE html>
<html>
	<head>
		<% include ./partials/head.ejs %>
	</head>
	<body>
		
		<% include ./partials/header.ejs %>

		<div class="row main-wrapper">
			<div class="large-9 push-3 columns">

				<h3><%= title %> <%= error.status %>: <%= message %><small><%= subtitle %></small></h3>
				<p class="text-justify">
					Lo sentimos se ha presentado un error.
				</p>
			</div>
        
        	<% include ./partials/lateral_menu.ejs %>
		</div>

		<% include ./partials/footer.ejs %>
	</body>
</html>