<!DOCTYPE html>
<html>
	<head>
		<% include ./partials/head.ejs %>
	</head>
	<body>
		
		<% include ./partials/header.ejs %>

		<div class="row main-wrapper">
			<div class="large-9 push-3 columns">

				<h3><%= title %> <small><%= subtitle %></small></h3>

				<p class="text-justify">
					The objective of this project is entirely academic and it pretends to show the topics associated to the course: Programming Lenguages
				</p>

				<p class="text-justify">
					This is an app that is divided in two. A <a target="_blank" href="https://drive.google.com/file/d/0B-ejdgACjTi4YzZNT3BZX1k0ZHM/view?usp=sharing"><b>local client</b> </a>(.jar file) that recieves a source code from Java clases and it parses the source code to a class diagram.

					In the other hand the actual app is a web client that has some class diagrams and it parses to Java source code
				</p>

				<p>
					The apps have the following features:
					<br>
					<ul>
						<li class="text-justify">The app will receive one of the next input formats</li>
						<ul>
							<li class="text-justify">Java source code written in .java files</li>
							<li class="text-justify">Source code written by the user in a text field input</li>
						</ul>
						<li class="text-justify">The local client app will generate 3 files: An HTML template, the Go.js library and a output file (classDiagram.js). You can view the diagram using those files and not the currently web app.</li>
						<li>This app will have some predefined class diagrams that can be converted to java classes. Then you can watch all the generated classes</li>
					</ul>
				</p>                
			</div>
        
        	<% include ./partials/lateral_menu.ejs %>
		</div>

		<% include ./partials/footer.ejs %>
	</body>
</html>