<!DOCTYPE html>
<html>
	<head>
		<% include ./partials/head.ejs %>
		<script src="/javascripts/go.js"></script>
		<script src="/javascripts/index.js"></script>
	</head>
	<body  onload="init()">
		
		<% include ./partials/header.ejs %>

		<div class="row main-wrapper">
			<div class="large-9 push-3 columns">

				<h3><%= title %> <small><%= subtitle %></small></h3>
				<div class="row">
					<div class="columns large-4 end">
						<select class="radius" id="example">
							<option value="default">Course Example</option>
							<option value="helloWorld">Hello World</option>
							<option value="animal">Animal Example</option>
						</select>	
					</div>
				</div>
				<br><br>
				<div id="myDiagram" style="border: solid 1px black; width:100%; height:600px"></div>
				<br><br>
				<div id="myDiagramResults"></div>
				<br><br>
				<input type="button" id="parse" value="Parse">
			</div>
        
        	<% include ./partials/lateral_menu.ejs %>
		</div>

		<% include ./partials/footer.ejs %>
	</body>
</html>