<!DOCTYPE html>
<html>
	<head>
		<% include ./partials/head.ejs %>
		<script src="/javascripts/go.js"></script>
		<script src="/javascripts/index.js"></script>
	</head>
	<body  onload="init()">
		
		<% include ./partials/header.ejs %>

		<div class="row main-wrapper">
			<div class="large-9 push-3 columns">

				<h3><%= title %> <small><%= subtitle %></small></h3>
				<div class="row">
					<% for(var i=0; i < classes.length; i++) { %>
						<%- classes[i] %>
					<% } %>
				</div>
			</div>
        
        	<% include ./partials/lateral_menu.ejs %>
		</div>

		<% include ./partials/footer.ejs %>
	</body>
</html>