body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

a {
  color: #00B7FF; }

.bold {
  font-weight: bold; }

.row {
  max-width: 75.5rem; }
  .row .row {
    margin: 0; }

.lateral_menu ul {
  list-style: none; }